---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn more about Birol Senturk"
	pubDate={new Date('2024-01-01')}
>
	<p>
		I'm a software developer with a passion for creating intuitive and efficient web applications. 
		I enjoy working with modern technologies and frameworks to build solutions that make a difference.
	</p>

	<p>
		When I'm not coding, you can find me exploring new technologies, contributing to open source 
		projects, or sharing my knowledge through writing and mentoring.
	</p>

	<p>
		Feel free to reach out if you'd like to connect or collaborate on interesting projects.
	</p>
</Layout>